/DD/DD.pdf
/DD/DD.log
/DD/DD.synctex.gz
/RASD/RASD.pdf
/RASD/RASD.log
/RASD/RASD.synctex.gz
/ImplementationAndTesting/.idea
/ImplementationAndTesting/target
/Data4Help1/.idea
/d4h_ThirdParty/.idea/d4h_ThirdParty/.gradle/Data4Help1/.gradle/
ITD/ITDocument/ITD.pdf
ITD/ITDocument/ITD.synctex.gz